body {
    background-color: #ffffff; 
}

.hamburger-menu span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
}

.hamburger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* CSS for fixed header */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Montserrat font */
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* Open Sans font */
.open-sans {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Example weight */
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
