body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #F5EFE6;
}

.navbar {
  display: flex;
  background-color: transparent;
  padding: 10px 20px;
  margin: 0 50px;
  border: 1px solid #ddd;
  height: 5vh; /* Set navbar height to 5% of viewport height */
}

.column-alpha {
  display: flex;
}

.navbar a {
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
  font-family: "Jersey 15", sans-serif;
  font-size: 24px;
}

.navbar a:hover {
  background-color: #ddd;
}

.artboard {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border: 1px solid #ddd;
  height: 85vh; /* Set artboard height to 85% of viewport height */
  overflow: hidden;
}

.container {
  width: 100%; /* Make container full width */
  padding: 20px; /* Add padding */
  box-sizing: border-box; /* Include padding in width calculation */
  border: 1px solid #ddd;
  margin-top: 20px; /* Add margin on top */
  height: 30%; /* Set container height to 30% of the artboard height */
}

.column-alpha, .column-beta {
  width: 50%;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column; /* Adjust to column layout */
  align-items: center; /* Center content vertically and horizontally */
  justify-content: center; /* Center content vertically */
  height: 50%; /* Set column height to 50% of the artboard height */
  margin-top: 20px; /* Add margin on top */
}

@media (max-width: 768px) {
  .column-alpha, .column-beta {
    width: 100%; /* Columns stack on smaller screens */
  }
}
