body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #F5EFE6;
}

.navigation-bar {
  display: flex;
  background-color: transparent;
  padding: 10px 20px;
  margin: 0 50px;
  border: 1px solid #ddd;
  height: 5vh; /* Set navbar height to 5% of viewport height */
}

.navigation-bar a {
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
  font-family: "Jersey 15", sans-serif;
  font-size: 24px;
}

.navigation-bar a:hover {
  background-color: #ddd;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border: 1px solid #ddd;
  height: 85vh; /* Set artboard height to 85% of viewport height */
  overflow: hidden;
}

.content-section {
  width: 100%;
  /* padding: 20px; */
  box-sizing: border-box;
  border: 1px solid #ddd;
  /* margin-top: 20px; */
  height: 100%; /* Set container height to 100% of the artboard height */
  display: flex; /* Enable flexbox for two columns */
}

.content-section > * {
  flex: 1;
}

.content-section > * {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-section > h2 {
  margin-bottom: 10px; /* Add specific margin for headings */
}

.content-section > *:nth-child(1) { /* Target the first child element */
  color: black; /* Adjust text color for visibility on red background */
}

.content-section > *:nth-child(2) { /* Target the second child element */
  color: black; /* Adjust text color for visibility on blue background */
}

.time-display {
  font-family: Arial, sans-serif;
  font-size: 18px;
  white-space: pre-line; /* Preserve line breaks in text content */
}

@media (max-width: 768px) {
  .content-section {
    width: 100%; /* Columns stack on smaller screens */
  }
}
